[submodule "farming_plus"]
	path = farming_plus
	url = https://github.com/PilzAdam/farming_plus
[submodule "food"]
	path = food
	url = https://github.com/rubenwardy/food
[submodule "plantlife"]
	path = plantlife
	url = https://github.com/VanessaE/plantlife
[submodule "animals_modpack"]
	path = animals_modpack
	url = https://github.com/sapier/animals_modpack
[submodule "carts"]
	path = carts
	url = https://github.com/PilzAdam/carts
[submodule "boats"]
	path = boats
	url = https://github.com/PilzAdam/boats
[submodule "mesecons"]
	path = mesecons
	url = https://github.com/Jeija/minetest-mod-mesecons
[submodule "calinou_mods"]
	path = calinou_mods
	url = https://github.com/Calinou/calinou_mods
[submodule "inventory_plus"]
	path = inventory_plus
	url = https://github.com/Zeg9/minetest-inventory_plus
[submodule "minetest-zcg"]
	path = minetest-zcg
	url = https://github.com/Zeg9/minetest-zcg
[submodule "Minetest-WorldEdit"]
	path = Minetest-WorldEdit
	url = https://github.com/Uberi/Minetest-WorldEdit
[submodule "homedecor"]
	path = homedecor
	url = https://github.com/VanessaE/homedecor
[submodule "minetest-survival_modpack"]
	path = minetest-survival_modpack
	url = https://github.com/kaeza/minetest-survival_modpack
[submodule "arrow_signs"]
	path = arrow_signs
	url = https://bitbucket.org/adrido/arrow_signs.git
