[submodule "farming_plus"]
	path = farming_plus
	url = https://github.com/PilzAdam/farming_plus
[submodule "food"]
	path = food
	url = https://github.com/rubenwardy/food
[submodule "plantlife"]
	path = plantlife
	url = https://github.com/VanessaE/plantlife
[submodule "animals_modpack"]
	path = animals_modpack
	url = https://github.com/sapier/animals_modpack
